

h1{
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
  top: 1px;
  left: 37%;

}

h3{
  text-align: center;
  color: rgb(0, 0, 0);
  position: relative;
  top: 75px;
}


.h3_blanc{
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
  top: 75px;
}
 

body{
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  background-size :30%;
  background-image: url("Ressources/ref.gif");
}

d:hover{
  background-size :5%;
  background-image: url("Ressources/rickroll.gif");
}





.button {
  background-color: grey;
  border: black 4px solid;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  
}


.button_blue {
  background-image: url(Ressources/bulle.jpg);
  border: black 4px solid;
  color: rgb(0, 0, 0);
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}


.button_camo{
  background-image: url(Ressources/camo.jpg);
  border: black 4px solid;
  color: orangered;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_froid{
  background-image: url(Ressources/froid.jpg);
  border: black 4px solid;
  color: rgb(0, 0, 0);
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

    
.button_tag{
  background-image: url(Ressources/tag.jpg);
  border: black 4px solid;
  color: rgb(255, 255, 255);
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_prison{
  background-image: url(Ressources/barreau.jpg);
  border: black 4px solid;
  color: rgb(255, 255, 255);
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_lidl{
  background-image: url(Ressources/lidl.png);
  border: black 4px solid;
  color: rgb(0, 0, 0);
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_maxi{
  background-image: url(Ressources/maxi.png);
  border: black 4px solid;
  color: rgb(0, 0, 0);
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_carton{
  background-image: url(Ressources/carton.jpg);
  border: black 4px solid;
  color: rgb(255, 252, 252);
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

.button_kinder{
  background-color: white;
  border: black 4px solid;
  color: rgb(0, 0, 0);
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}

@media screen and (max-width: 667px){
  p{
  font-size: 50px;
  }
  }
  